@import "src/scss/mixins";

.wrapper {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 12px 0;
  border-bottom: 1px solid var(--color-grey2);
}

.day {
  @include MediumFont();
  text-transform: capitalize;
  font-size: 20px;
  display: flex;
  align-items: center;
}

.time {
  @include RegularFont();
  margin-left: 32px;
}

.closed {
  @extend .time;
  color: var(--color-grey3);
}

.timeWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.today {
  @include BoldFont();
  color: var(--color-green);
  font-size: 12px;
  text-transform: uppercase;
  margin-left: 12px;
}
